<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="{{ description }}">
        <meta name="keywords" content="{{ keywords }}" />
        <title>{{ title }} - {{ projectName }}</title>
        <link rel="stylesheet" href="{{ libs }}/bootstrap5/dist/css/bootstrap.css">
        {{ styles|raw }}
        {{ env|raw }}
        {{ scripts_header|raw }}
        {{ snippets_top|raw }}
    </head>
    <body>
        {{ snippets_middle|raw }}

        <div class="container py-3">
            <header>
                <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
                    <img class="mb-2" src="{{ images }}/logo_red.svg" alt="" width="200">
                    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                        <span class="fs-4">{{ title }}</span>
                    </a>

                    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                        <a class="me-3 py-2 text-dark text-decoration-none" href="{{ url }}">Home</a>
                        <a class="me-3 py-2 text-dark text-decoration-none" href="{{ url.get('admin') }}">Admin</a>
                        <a class="me-3 py-2 text-dark text-decoration-none" href="{{ url.get('docs') }}">Documentation</a>
                    </nav>
                </div>

                {% for lng in otherLanguages %}
                    <a href = "{{ lng.url }}">{{ lng.label }}</a> 
                {% endfor %}

            </header>

            {% for msg in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ msg.message }}
                </div>
            {% endfor %}

            {% include content %}

            <footer class="pt-4 my-md-5 pt-md-5 border-top">
                <div class="row">
                    <div class="col-12 col-md">
                        <img class="mb-2" src="{{ images }}/logo_red.svg" alt="" width="200">
                        <small class="d-block mb-3 text-muted">&copy; 2017–2023</small>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Documentation</h5>
                        <ul class="list-unstyled text-small">
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another one</a></li>
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Last time</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Resources</h5>
                        <ul class="list-unstyled text-small">
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://www.php.net/">PHP</a></li>
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://redbeanphp.com">RedbeanPHP</a></li>
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://php-di.org/">PHP-DI</a></li>
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://www.smarty.net/">Smarty</a></li>
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://github.com/Nyholm/psr7">Nyholm PSR7</a></li>
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="http://phpdebugbar.com/">PHP DebugBar</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>About</h5>
                        <ul class="list-unstyled text-small">
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ config.string('user.github_link')|default('https://github.com/rnr1721/le7-framework') }}">Github</a></li>
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="{{ config.string('user.packagist_link')|default('https://packagist.org/packages/rnr1721/le7-framework') }}">Packagist</a></li>
                            <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://en.wikipedia.org/wiki/MIT_License">MIT License</a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>

        {{ scripts_footer|raw }}
        {{ snippets_bottom|raw }}
    </body>
</html>
